<nav class="navbar">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-2xl font-bold text-white">Star Citizen Hub</a>
      <div class="space-x-4">
        <a href="/home" class="hover:text-white transition">Accueil</a>
        <a href="/univers" class="hover:text-white transition">Univers</a>
        <a href="/wikiShips" class="hover:text-white transition">Les vaisseaux</a>
        <a href="/communaute" class="hover:text-white transition">Communauté</a>
        <a href="/inscription" class="hover:text-white transition">Inscription</a>
        <a href="/connexion" class="hover:text-white transition">Connexion</a>
      </div>
    </div>
  </nav>
  
