
<header class="relative">

<div class="relative min-h-screen bg-black text-gray-300">
  <!-- Section de titre -->
  <section class="relative text-center py-16 bg-fixed bg-center bg-cover" style="background-image: url('/assets/images/categories-bg.jpg');">
    <div class="bg-black bg-opacity-60 py-16">
      <h1 class="text-5xl font-bold text-white mb-6">Choisissez votre Catégorie</h1>
      <p class="text-xl text-gray-400 max-w-2xl mx-auto">
        Plongez dans l’univers des vaisseaux de Star Citizen et explorez leurs capacités et spécificités.
      </p>
    </div>
  </section>

  <!-- Grid des catégories -->
  <section class="container mx-auto py-20">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
      <!-- Transport -->
      <div
        class="group relative overflow-hidden rounded-lg shadow-lg bg-gray-800 transition hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-blue-500"
      >
        <a href="vaisseaux_transports" class="block">
          <img
          
            src="/assets/images/Hull_E.jpg"
            alt="Vaisseaux de Transport"
            class="w-full h-64 object-cover transition group-hover:opacity-80"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 group-hover:opacity-75 transition"></div>
          <div class="absolute bottom-4 left-4 text-white z-10">
            <h3 class="text-2xl font-bold">Vaisseaux de Transport</h3>
            <p class="text-gray-300 text-sm mt-2">
              Découvrez les vaisseaux conçus pour transporter des marchandises.
            </p>
          </div>
        </a>
      </div>

      <!-- Exploration -->
      <div
        class="group relative overflow-hidden rounded-lg shadow-lg bg-gray-800 transition hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-blue-500"
      >
        <a href="vaisseaux_explorations" class="block">
          <img
            src="/assets/images/Odyssey.jpg"
            alt="Vaisseaux d'Exploration"
            class="w-full h-64 object-cover transition group-hover:opacity-80"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 group-hover:opacity-75 transition"></div>
          <div class="absolute bottom-4 left-4 text-white z-10">
            <h3 class="text-2xl font-bold">Vaisseaux d'Exploration</h3>
            <p class="text-gray-300 text-sm mt-2">
              Parcourez les étoiles avec ces vaisseaux dédiés à l'exploration.
            </p>
          </div>
        </a>
      </div>

      <!-- Courses -->
      <div
        class="group relative overflow-hidden rounded-lg shadow-lg bg-gray-800 transition hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-blue-500"
      >
        <a href="vaisseaux_courses" class="block">
          <img
            src="/assets/images/Sabre_perigrine.jpg"
            alt="Vaisseaux d'Exploration"
            class="w-full h-64 object-cover transition group-hover:opacity-80"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 group-hover:opacity-75 transition"></div>
          <div class="absolute bottom-4 left-4 text-white z-10">
            <h3 class="text-2xl font-bold">Vaisseaux de courses</h3>
            <p class="text-gray-300 text-sm mt-2">
              Dépasser la vitesse de la lumière avec ces vaisseaux dédiés à la course.
            </p>
          </div>
        </a>
      </div>

      <!-- Construction -->
      <div
        class="group relative overflow-hidden rounded-lg shadow-lg bg-gray-800 transition hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-blue-500"
      >
        <a href="vaisseaux_constructions" class="block">
          <img
            src="/assets/images/Pioneer.jpg"
            alt="Vaisseaux d'Exploration"
            class="w-full h-64 object-cover transition group-hover:opacity-80"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 group-hover:opacity-75 transition"></div>
          <div class="absolute bottom-4 left-4 text-white z-10">
            <h3 class="text-2xl font-bold">Vaisseaux de construction</h3>
            <p class="text-gray-300 text-sm mt-2">
              Etablissez des colonies avec ces vaisseaux dédiés à la construction.
            </p>
          </div>
        </a>
      </div>

      <!-- Industriel -->
      <div
        class="group relative overflow-hidden rounded-lg shadow-lg bg-gray-800 transition hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-blue-500"
      >
        <a href="vaisseaux_industriels" class="block">
          <img
            src="/assets/images/Orion.jpg"
            alt="Vaisseaux d'Exploration"
            class="w-full h-64 object-cover transition group-hover:opacity-80"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 group-hover:opacity-75 transition"></div>
          <div class="absolute bottom-4 left-4 text-white z-10">
            <h3 class="text-2xl font-bold">Vaisseaux Industriels</h3>
            <p class="text-gray-300 text-sm mt-2">
              Exploiter les ressources naturel avec ces vaisseaux dédiés à l'industrie.
            </p>
          </div>
        </a>
      </div>

      <!-- Militaire -->
      <div
        class="group relative overflow-hidden rounded-lg shadow-lg bg-gray-800 transition hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-blue-500"
      >
        <a href="vaisseaux_militaires" class="block">
          <img
            src="/assets/images/Bengale.jpg"
            alt="Vaisseaux Militaires"
            class="w-full h-64 object-cover transition group-hover:opacity-80"
          />
          <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 group-hover:opacity-75 transition"></div>
          <div class="absolute bottom-4 left-4 text-white z-10">
            <h3 class="text-2xl font-bold">Vaisseaux Militaires</h3>
            <p class="text-gray-300 text-sm mt-2">
              Dominez vos ennemis avec ces vaisseaux armés pour le combat.
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>

